<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Model</title>
    {#    Fonts#}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    {#    CSS#}
    <link href="{{ url_for('static', filename='css/model.css') }}" rel="stylesheet">
    <meta name="robots" content="noindex,follow"/>

    {#    Bootstrap core CSS#}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark rounded">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">YourFactory</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarCollapseBegin" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Маркетплейс</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Вход/Регистрация</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapseEnd">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">О нас</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search"
                           aria-label="Найдите нужную модель">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Корзина</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container">

    {#     Left Column / Headphones Image#}
    <div class="left-column">
        {#        <img data-image="black" src="{{ url_for('static', filename='img/black.png') }}" alt="">#}
        {#        <img data-image="blue" src="{{ url_for('static', filename='img/blue.png') }}" alt="">#}
        <img class="active p-5" src="{{ url_for('static', filename='img/harley.jpg') }}" alt="">
    </div>

    {#    Right Column#}
    <div class="right-column">

        {#         Product Description#}
        <div class="product-description">
            {#            <span>Headphones</span>#}
            <h1>Харли Куинн - 3D-модель для 3D-печати</h1>
            <p>Харли Куинн !!! Безумно красивая Харли Куинн из Suicide Squad в новой версии. STL-файл для 3D-печати в
                качестве HI-POLY. Эта дама - один из самых важных персонажей игры Batman: Arkham Asylum.
        </div>

        {#        Product Configuration#}
        {#        <div class="product-configuration">#}
        {##}
        {#        Product Color#}
        {#        <div class="product-color">#}
        {#            <span>Color</span>#}
        {##}
        {#            <div class="color-choose">#}
        {#                <div>#}
        {#                    <input data-image="red" type="radio" id="red" name="color" value="red" checked>#}
        {#                    <label for="red"><span></span></label>#}
        {#                </div>#}
        {#                <div>#}
        {#                    <input data-image="blue" type="radio" id="blue" name="color" value="blue">#}
        {#                    <label for="blue"><span></span></label>#}
        {#                </div>#}
        {#                <div>#}
        {#                    <input data-image="black" type="radio" id="black" name="color" value="black">#}
        {#                    <label for="black"><span></span></label>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#        </div>#}
        {#        #}
        {#        <div class="product-price p-1">#}
        {#            <span id="Price">148$ × </span><input type="text" id="AmountOfModelsToBuy" maxlength="10"#}
        {#                                                  style="width: 75px;"/>#}
        {#        </div>#}

        {#    Product Pricing#}
        <div class="product-price p-1">
            <span id="FinalPrice">148$</span>
            <a href="/checkout" class="cart-btn btn-secondary">Добавить в корзину</a>
        </div>
    </div>
    </div>
</main>

{# Scripts #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/model.js') }}" charset="utf-8"></script>
</body>
</html>
